{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clicker App!</title>
  <link rel="stylesheet" href="{% static 'clicker/style.css' %}">
</head>
<body>
  <header>
    <h1><a href="{% url 'index' %}">Zeus Clicker App!</a></h1>
    <small><em>Now with 100% more Django.</em></small>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2021 Jeff.how</p>
  </footer>
</body>
</html>